<h1>Editing patrimonio cliente</h1>

<%= render "form", patrimonio_cliente: @patrimonio_cliente %>

<br>

<div>
  <%= link_to "Show this patrimonio cliente", @patrimonio_cliente %> |
  <%= link_to "Back to patrimonio clientes", patrimonio_clientes_path %>
</div>
