<div id="<%= dom_id patrimonio %>">
  <p>
    <strong>Contacorrente:</strong>
    <%= patrimonio.contaCorrente %>
  </p>

  <p>
    <strong>Rendafixa:</strong>
    <%= patrimonio.rendaFixa %>
  </p>

  <p>
    <strong>Rendavariavel:</strong>
    <%= patrimonio.rendaVariavel %>
  </p>

</div>
