<h1>Editing patrimonio</h1>

<%= render "form", patrimonio: @patrimonio %>

<br>

<div>
  <%= link_to "Show this patrimonio", @patrimonio %> |
  <%= link_to "Back to patrimonios", patrimonios_path %>
</div>
