<h1>Editing agendamento</h1>

<%= render "form", agendamento: @agendamento %>

<br>

<div>
  <%= link_to "Show this agendamento", @agendamento %> |
  <%= link_to "Back to agendamentos", agendamentos_path %>
</div>
