<div id="<%= dom_id chamado %>">
  <p>
    <strong>Titulo:</strong>
    <%= chamado.titulo %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= chamado.codigo %>
  </p>

  <p>
    <strong>Sobre:</strong>
    <%= chamado.sobre %>
  </p>

</div>
